#
# Project or User Github Repository Address:
# git@github.com:kaan-keskin/
#
# IRM-Script will be use this address as prefix for the defined repository in the list.
# git@github.com:kaan-keskin/inter-repository-merge-script.git
#
MAIN_GIT_REPO_ADDR=git@github.com:kaan-keskin/

# Cloned Banch Name
GIT_DOWNLOAD_BRANCH=develop

# Pushed Branch Name
GIT_UPLOAD_BRANCH=code_merge
